<%- partial('_partial/head') %>

<body class="body">
  <%- partial('_partial/header') %>

  <%- partial('_partial/_post/article', {post: page, index: false}) %>

  <%- partial('_partial/footer') %>
</body>