
// Structure ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.wrapper {
  width: 95%;
  max-width: $screen-max-width;
  margin: 0 auto;
}

.body {
  background: linear-gradient(155deg, $color-gradient-1, $color-gradient-2);
  color: $color-white;
  text-align: center;
}

.header {
  margin-bottom: ($spacing * 2);
}

.title {
  font-size: 45px;
}

.description {
  font-size: $base-font;
  margin-bottom: $spacing;
}

.footer {
  display: none;
}
