
// Structure ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.wrapper {
  width: 95%;
  max-width: $mobile-width;
  margin: 0 auto;
}

.body {
  background: linear-gradient(155deg, $color-gradient-1, $color-gradient-2);
  color: $color-white;
  text-align: center;
}

.header {
  padding: $spacing 0;
}

.page-title {
  font-size: 45px;
}

.page-description {
  font-size: $base-font;
  margin-bottom: $spacing;
}

.footer {
  font-size: 12px;
  padding: ($spacing / 2) 0;
}
