
// Placeholders :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Structure
%img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%text-center {
  text-align: center;
}

// Spacing
%padded {
  padding: $spacing;
}

%marged {
  margin: $spacing;
}

// Flex
%flex-container {
  @include flex;
}

%display-flex {
  display: flex;
}

%align-center {
  align-items: center;
}

%align-end {
  align-items: flex-end;
}

%align-start {
  align-items: flex-start;
}

%justify-center {
  justify-content: center;
}

%justify-end {
  justify-content: flex-end;
}

%justify-start {
  justify-content: flex-start;
}

%justify-around {
  justify-content: space-around;
}

%justify-between {
  justify-content: space-between;
}

%direction-row {
  flex-direction: row;
}

%direction-col {
  flex-direction: column;
}

%direction-row-reverse {
  flex-direction: row-reverse;
}

%direction-col-reverse {
  flex-direction: column-reverse;
}

// Classes :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Structure
.img-responsive {
  @extend %img-responsive;
}

.truncate,
.ellipsis {
  @extend %ellipsis;
}

.text-center {
  text-align: center;
  
}
// Spacing
.padded {
  @extend %padded;
}

.marged {
  @extend %marged;
}

// Flex
.flex-container {
  @extend %flex-container;
}

.display-flex {
  @extend %display-flex;
}

.align-center {
  @extend %align-center;
}

.align-end {
  @extend %align-end;
}

.align-start {
  @extend %align-start;
}

.justify-center {
  @extend %justify-center;
}

.justify-end {
  @extend %justify-end;
}

.justify-start {
  @extend %justify-start;
}

.justify-around {
  @extend %justify-around;
}

.justify-between {
  @extend %justify-between;
}

.direction-row {
  @extend %direction-row;
}

.direction-col {
  @extend %direction-col;
}

.direction-row-reverse {
  @extend %direction-row-reverse;
}

.direction-col-reverse {
  @extend %direction-col-reverse;
}
