// Structure Mixins :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin flex($align-items: center, $justify-content: center, $flex-direction: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}


@mixin breakpoint($query-type: $mobile-width) {
  @media (max-width: #{$query-type} ) {
    @content;
  }
}