
// Variables ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Colors
$color-default: #460303;
$color-variant: #E19393;
$color-black: #100f0f;
$color-white: #FFF;

// Sizes
$screen-max-width: 1024px;
$mobile-width: 900px;

// Structure
$spacing: 20px;
