
// Variables ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Colors
$color-default: #460303;
$color-variant: #E19393;
$color-coffee: #2D1D1D;
$color-gradient-1: $color-default;
$color-gradient-2: darken($color-coffee, 20);
$color-black: #100f0f;
$color-white: #FFF;

// Sizes
$screen-max-width: 1024px;
$mobile-width: 900px;

// Structure
$spacing: 20px;
$radius: 2.5px;