@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);* {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  font-family: "Source sans pro", sans-serif, arial;
  outline: none; }

html,
body {
  height: 100%; }

a:not(.no-link) {
  color: #E19393; }

.no-link {
  color: #FFF;
  text-decoration: none; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.truncate,
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.padded {
  padding: 20px; }

.marged {
  margin: 20px; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.display-flex, .post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-center, .post-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-start, .post-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.direction-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.direction-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.text-center {
  text-align: center; }

.wrapper {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto; }

.body {
  background: linear-gradient(155deg, #460303, black);
  color: #FFF;
  text-align: center; }

.header {
  padding: 20px 0; }

.page-title {
  font-size: 45px; }

.page-description {
  font-size: "Source sans pro", sans-serif, arial;
  margin-bottom: 20px; }

.footer {
  font-size: 12px;
  padding: 10px 0; }

.post-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none; }

.post-item {
  width: calc((100% / 4) - 20px);
  margin: 10px;
  border-radius: 2.5px;
  overflow: hidden; }

.post-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  position: relative;
  color: #2D1D1D;
  text-decoration: none;
  padding: 30px 20px;
  background: #f4eeee;
  min-height: 200px; }
  .post-link:hover {
    background: #e0cfcf; }

.post-date {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 11px; }

.post-subtitle {
  font-size: 12px; }

@media (max-width: 900px) {
  .post-list {
    display: block; }
  .post-item {
    width: 100%;
    margin: 10px auto; }
    .post-item:first-child {
      margin-top: 0; }
    .post-item:last-child {
      margin-bottom: 0; } }

.tags-list {
  display: inherit;
  position: absolute;
  right: 0;
  top: 0;
  list-style: none;
  color: #FFF;
  font-size: 12px; }

.tags-item {
  padding: 5px;
  display: inline-block;
  background: #460303;
  margin: 1px; }

.article {
  color: #2D1D1D;
  background: #f4eeee;
  text-align: left;
  position: relative; }
  .article p,
  .article ul,
  .article h3,
  .article figure {
    margin-bottom: 20px; }
  .article .highlight {
    overflow-x: scroll; }
  .article ul {
    padding-left: 20px; }
  .article hr {
    overflow: visible;
    position: relative;
    margin: 40px auto;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, color-stop(40%, #460303), color-stop(40%, transparent), color-stop(60%, transparent), color-stop(60%, #460303));
    background: linear-gradient(to right, #460303 40%, transparent 40%, transparent 60%, #460303 60%); }
    .article hr:after {
      content: "";
      display: block;
      background: #460303;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      left: calc(50% - 8px); }
    .article hr:before {
      content: "";
      display: block;
      background: #460303;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      top: -2px;
      right: calc(50% - 8px); }
  .article .wrapper {
    position: relative;
    padding: 25px 10px; }
  .article:before {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: #460303;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }
  .article[data-progress="1"]:before {
    width: 1%; }
  .article[data-progress="2"]:before {
    width: 2%; }
  .article[data-progress="3"]:before {
    width: 3%; }
  .article[data-progress="4"]:before {
    width: 4%; }
  .article[data-progress="5"]:before {
    width: 5%; }
  .article[data-progress="6"]:before {
    width: 6%; }
  .article[data-progress="7"]:before {
    width: 7%; }
  .article[data-progress="8"]:before {
    width: 8%; }
  .article[data-progress="9"]:before {
    width: 9%; }
  .article[data-progress="10"]:before {
    width: 10%; }
  .article[data-progress="11"]:before {
    width: 11%; }
  .article[data-progress="12"]:before {
    width: 12%; }
  .article[data-progress="13"]:before {
    width: 13%; }
  .article[data-progress="14"]:before {
    width: 14%; }
  .article[data-progress="15"]:before {
    width: 15%; }
  .article[data-progress="16"]:before {
    width: 16%; }
  .article[data-progress="17"]:before {
    width: 17%; }
  .article[data-progress="18"]:before {
    width: 18%; }
  .article[data-progress="19"]:before {
    width: 19%; }
  .article[data-progress="20"]:before {
    width: 20%; }
  .article[data-progress="21"]:before {
    width: 21%; }
  .article[data-progress="22"]:before {
    width: 22%; }
  .article[data-progress="23"]:before {
    width: 23%; }
  .article[data-progress="24"]:before {
    width: 24%; }
  .article[data-progress="25"]:before {
    width: 25%; }
  .article[data-progress="26"]:before {
    width: 26%; }
  .article[data-progress="27"]:before {
    width: 27%; }
  .article[data-progress="28"]:before {
    width: 28%; }
  .article[data-progress="29"]:before {
    width: 29%; }
  .article[data-progress="30"]:before {
    width: 30%; }
  .article[data-progress="31"]:before {
    width: 31%; }
  .article[data-progress="32"]:before {
    width: 32%; }
  .article[data-progress="33"]:before {
    width: 33%; }
  .article[data-progress="34"]:before {
    width: 34%; }
  .article[data-progress="35"]:before {
    width: 35%; }
  .article[data-progress="36"]:before {
    width: 36%; }
  .article[data-progress="37"]:before {
    width: 37%; }
  .article[data-progress="38"]:before {
    width: 38%; }
  .article[data-progress="39"]:before {
    width: 39%; }
  .article[data-progress="40"]:before {
    width: 40%; }
  .article[data-progress="41"]:before {
    width: 41%; }
  .article[data-progress="42"]:before {
    width: 42%; }
  .article[data-progress="43"]:before {
    width: 43%; }
  .article[data-progress="44"]:before {
    width: 44%; }
  .article[data-progress="45"]:before {
    width: 45%; }
  .article[data-progress="46"]:before {
    width: 46%; }
  .article[data-progress="47"]:before {
    width: 47%; }
  .article[data-progress="48"]:before {
    width: 48%; }
  .article[data-progress="49"]:before {
    width: 49%; }
  .article[data-progress="50"]:before {
    width: 50%; }
  .article[data-progress="51"]:before {
    width: 51%; }
  .article[data-progress="52"]:before {
    width: 52%; }
  .article[data-progress="53"]:before {
    width: 53%; }
  .article[data-progress="54"]:before {
    width: 54%; }
  .article[data-progress="55"]:before {
    width: 55%; }
  .article[data-progress="56"]:before {
    width: 56%; }
  .article[data-progress="57"]:before {
    width: 57%; }
  .article[data-progress="58"]:before {
    width: 58%; }
  .article[data-progress="59"]:before {
    width: 59%; }
  .article[data-progress="60"]:before {
    width: 60%; }
  .article[data-progress="61"]:before {
    width: 61%; }
  .article[data-progress="62"]:before {
    width: 62%; }
  .article[data-progress="63"]:before {
    width: 63%; }
  .article[data-progress="64"]:before {
    width: 64%; }
  .article[data-progress="65"]:before {
    width: 65%; }
  .article[data-progress="66"]:before {
    width: 66%; }
  .article[data-progress="67"]:before {
    width: 67%; }
  .article[data-progress="68"]:before {
    width: 68%; }
  .article[data-progress="69"]:before {
    width: 69%; }
  .article[data-progress="70"]:before {
    width: 70%; }
  .article[data-progress="71"]:before {
    width: 71%; }
  .article[data-progress="72"]:before {
    width: 72%; }
  .article[data-progress="73"]:before {
    width: 73%; }
  .article[data-progress="74"]:before {
    width: 74%; }
  .article[data-progress="75"]:before {
    width: 75%; }
  .article[data-progress="76"]:before {
    width: 76%; }
  .article[data-progress="77"]:before {
    width: 77%; }
  .article[data-progress="78"]:before {
    width: 78%; }
  .article[data-progress="79"]:before {
    width: 79%; }
  .article[data-progress="80"]:before {
    width: 80%; }
  .article[data-progress="81"]:before {
    width: 81%; }
  .article[data-progress="82"]:before {
    width: 82%; }
  .article[data-progress="83"]:before {
    width: 83%; }
  .article[data-progress="84"]:before {
    width: 84%; }
  .article[data-progress="85"]:before {
    width: 85%; }
  .article[data-progress="86"]:before {
    width: 86%; }
  .article[data-progress="87"]:before {
    width: 87%; }
  .article[data-progress="88"]:before {
    width: 88%; }
  .article[data-progress="89"]:before {
    width: 89%; }
  .article[data-progress="90"]:before {
    width: 90%; }
  .article[data-progress="91"]:before {
    width: 91%; }
  .article[data-progress="92"]:before {
    width: 92%; }
  .article[data-progress="93"]:before {
    width: 93%; }
  .article[data-progress="94"]:before {
    width: 94%; }
  .article[data-progress="95"]:before {
    width: 95%; }
  .article[data-progress="96"]:before {
    width: 96%; }
  .article[data-progress="97"]:before {
    width: 97%; }
  .article[data-progress="98"]:before {
    width: 98%; }
  .article[data-progress="99"]:before {
    width: 99%; }
  .article[data-progress="100"]:before {
    width: 100%; }

.article-title {
  font-size: 26px; }

.article-subtitle {
  font-size: 20px;
  font-weight: 100; }

.article-date {
  font-size: 12px; }

.back-button {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 14px; }

.article-figure {
  margin: 0 auto;
  max-width: 100%;
  text-align: center; }
  .article-figure img {
    max-width: 100%; }

.iframe-presentation {
  width: 100%;
  height: 485px; }

.comment-title {
  display: block;
  font-size: 18px; }

.comment-subtitle {
  display: block;
  font-size: 16px; }

.share {
  margin: -10px auto 10px; }

@media (max-width: 900px) {
  .iframe-presentation {
    height: 200px; } }
