
// Preset :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Tags
a {
	&:not(.no-link) {
		color: $color-variant;
	}
}

.no-link {
	color: #FFF;
	text-decoration: none;
}

// // scrollbar
// *::-webkit-scrollbar{
// 	width: 10px;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-webkit-scrollbar-track{
// 	border-radius: 0;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-webkit-scrollbar-thumb{
// 	width: 10px;
// 	background: $color-default;
// 	border-radius: 0;
// 	height:10px;
// 	position:absolute;
// }
// *::-moz-scrollbar{
// 	width: 10px;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-moz-scrollbar-track{
// 	border-radius: 0;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-moz-scrollbar-thumb{
// 	width: 10px;
// 	background: $color-default;
// 	border-radius: 0;
// 	height:10px;
// 	position:absolute;
// }
// *::-ms-scrollbar{
// 	width: 10px;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-ms-scrollbar-track{
// 	border-radius: 0;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-ms-scrollbar-thumb{
// 	width: 10px;
// 	background: $color-default;
// 	border-radius: 0;
// 	height:10px;
// 	position:absolute;
// }
// *::-o-scrollbar{
// 	width: 10px;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-o-scrollbar-track{
// 	border-radius: 0;
// 	position: relative;
// 	background: rgba(0,0,0,0.7);
// }
// *::-o-scrollbar-thumb{
// 	width: 10px;
// 	background: $color-default;
// 	border-radius: 0;
// 	height:10px;
// 	position:absolute;
// }

// selection
::selection {
  background:lighten($color-default , 10);
  color:#FFF;
}
::-moz-selection {
  background:lighten($color-default , 10);
  color:#FFF;
}
::-ms-selection {
  background:lighten($color-default , 10);
  color:#FFF;
}
::-o-selection {
  background:lighten($color-default , 10);
  color:#FFF;
}
// /selection