on:
  push:
    branches:
      - develop

jobs:
  deploy_website:
    runs-on: ubuntu-latest
    name: Deploy

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: '15'

    - name: Install
      run: npm install

    - name: Build
      # Still trying to find out why some built images folder are not created at initial build
      run: npm run build && npm run build

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.1.4
      with:
        branch: master
        folder: public
